{% extends "iffpApp/base.html" %}

{% load static %}

{% block content %}

<div class="container" style="max-width: 600px;">
    <div class="text-center mt-4">
        <a class="text-decoration-none me-2" href="{% url 'Home' %}">Home</a>
    </div>
    
    <h3 class="text-center mb-4 text-decoration">Política de Cookies</h3>

    <p>Utilizamos cookies para mejorar tu experiencia en nuestro sitio. Puedes configurar tu navegador para rechazarlas o aceptarlas según tu preferencia.</p>
</div>

{% endblock %}
