{% extends "iffpApp/base.html" %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container" style="max-width: 600px;">
    <div class="text-center mt-4">
        <a class="text-decoration-none me-2" href="{% url 'Home' %}">Home</a>
        <a class="text-decoration-none" href="{% url 'Move' %}">Nueva transacción</a>
        <a class="text-decoration-none" href="{% url 'concepts_balance' %}">Conceptos</a>
    </div>
    
    <h3 class="text-center mb-4 text-decoration">Saldo de bancos</h3>

    <!-- Tabla responsiva -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Descripción</th>
                    <th class="text-end">Saldo</th>
                    <th class="text-center">Transacciones</th>
                 </tr>
                </tr>
            </thead>
            <tbody>
                {% for bank in banks %}
                <tr>
                    <td>{{ bank.description }}</td>
                    <td class="text-end {% if bank.saldo < 0 %}text-danger{% else %}text-dark{% endif %}">
                        {{ bank.saldo|custom_currency }}€
                    </td>                    
                    <td class="text-center">
                        <!-- Contenedor flexbox para alinear botones -->
                        <div class="d-flex justify-content-center flex-wrap gap-2">
                            <a href="{% url 'bank_transactions' bank.id %}" class="btn btn-info btn-sm">Transacciones</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="text-center">No hay transacciones</td>
                </tr>
                {% endfor %}
                <!-- Fila para mostrar la suma total -->
                <tr class="table-secondary fw-bold">
                    <td>Total</td>
                    <td class="text-end {% if total_balance < 0 %}text-danger{% else %}text-dark{% endif %}">                        
                        {{ total_balance|custom_currency }}€      
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Enlaces adicionales -->
    <div class="text-center mt-4">
        <a class="btn btn-secondary me-2" href="{% url 'Home' %}">Home</a>
        <a class="btn btn-success" href="{% url 'Bank' %}">Nuevo</a>
        <a class="btn btn-success" href="{% url 'Move' %}">Nueva transacción</a>
        <a class="btn btn-success" href="{% url 'concepts_balance' %}">Conceptos</a>
    </div>
</div>
{% endblock %}




