{% extends "iffpApp/base.html" %}

{% load custom_filters %}

{% block content %}
<div class="container" style="max-width: 600px;">
    <h3 class="text-center mb-4 text-decoration">Transacciones para {{ bank.description }}</h3>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th class="text-end">Monto</th>
                    <th>Comentario</th>
                    <th>Concepto</th>
                    <th class="text-center" style="white-space: nowrap;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for move in moves %}
                <tr>
                    <td>{{ move.date|date:"d/m/Y" }}</td>
                    <td class="text-end {% if move.concept.type == 'EG' %}text-danger{% endif %}">
                        {{ move.amount|custom_currency }}
                    </td>
                    <td>{{ move.comentary }}</td>
                    <td>{{ move.concept.description }}</td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="{% url 'Move' pk=move.id %}" class="btn btn-primary btn-sm me-0">
                            <i class="bi bi-pencil"></i> <!-- Ícono de editar -->
                            <span class="d-none d-sm-inline">Editar</span>
                        </a>
                        <a href="{% url 'move_delete' move.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> <!-- Ícono de eliminar -->
                            <span class="d-none d-sm-inline">Eliminar</span>
                        </a>
                    </td>

                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay transacciones registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-secondary" href="{% url 'banks_balance' %}">Volver</a>
    </div>
</div>
{% endblock %}
