{% extends "iffpApp/base.html" %}

{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
        <h3 class="mb-4">Confirmar eliminación</h3>
        <p class="mb-4">¿Estás seguro de que deseas eliminar el banco con la descripción: <strong>{{ bank.description }}</strong>?</p>
        <form method="post" class="d-inline-block">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2 mb-3 mb-sm-0">Eliminar</button>
            <a href="{% url 'banks_list' %}" class="btn btn-secondary mb-3 mb-sm-0">Cancelar</a>
        </form>
        <div class="mt-4">
            <a class="nav-link text-uppercase text-expanded btn btn-link" href="{% url 'Home' %}">Home</a>
        </div>
    </div>
</div>
{% endblock %}
